{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block extra-css %}
<link rel="stylesheet" href="{% static 'css/addExpnese.css' %}">
<link rel="stylesheet" href="{% static 'css/password.css' %}">
{% endblock extra-css %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block content %}
    <div class="container">
        <h1 class="title">{% trans "Change Password" %}</h1>

        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" name="action" class="btn btn-primary">{% trans "Change Password" %}</button>
            <a href="{% url 'account_reset_password' %}" class="link">{% trans "Forgot Password?" %}</a>
        </form>
    </div>
{% endblock content %}
