/* Content and articles */
.article {
    flex: 1;
    padding: 40px;
    background-color: white; 
    margin-left: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 1000px;
}

/* Expense options styling (buttons) */
.expense-options {
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.expense-options button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
    height: auto;
    color: #fff;
    font-weight: bold;
    background: #218838;
    
}
.expense-options a{
    text-decoration: none;
    color: #fff;
}

.expense-options button:hover {
    background-color: #1a5226;
}


/* Expense Table Styling */
.expense-table {
    margin-top: 20px;
}

.expense-table table {
    width: 100%;
    border-collapse: collapse;
}

.expense-table th, .expense-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.expense-table th {
    background-color: #007BFF; 
    color: white;
}

.expense-table tr:hover {
    background-color: #f1f1f1; 
}

.expense-table td {
    color: #333; 
}

.expense-table td a{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
}

.edit-btn{
    background-color: #218838;
}

.edit-btn:hover{
    background-color: #1a5226;
}

.delete-btn{
    background-color: #dc3545;
}

.delete-btn:hover {
    background-color: #52070e;
}


/* Flash message container */
.flash-messages {
    margin: 20px auto;
    width: 100%;
}

/* Flash message box */
.custom-alert {
    position: relative;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

/* Success message */
.custom-alert.success {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
}

/* Error message */
.custom-alert.error {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
}

/* Close button */
.close-btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #000;
    font-size: 16px;
    cursor: pointer;
}




/* Responsive Design */
@media (max-width: 768px) {
    .article {
        margin: 20px 0 0 0;
        padding: 20px;
        width: fit-content;
        max-width: fit-content;
        display: block;
    }

    #Page-Title {
    margin:10px;
    font-size: 22px;
    }

    .expense-options{
        margin: 0;
    }

    .expense-options button {
        font-size: 12px;
        width: 150px;
    }

    #expense-table td,
    #expense-table th{
        font-size: 12px;
    }

    .expense-table td a {
        width: 40px;
        height: auto;
        padding: 5px;
        font-size: 10px;
    }

}