/* General Styles */
*{
    padding: 0;
    margin: 0;
    font-family:'Roboto' , sans-serif;
    
}

/* Global Styles */

.main-container{
    display: flex;
    justify-content: center; 
    align-items: center;;
    margin: 0 auto;
    padding: 20px;
    background-color: #F8F9FA;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

/* nav bar */

/* Navbar styling */
.navbar {
    width: 200px;
    height: 100vh;
    background-color: #007BFF;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 0 10px 10px 0;
}

.navbar h2 {
    display: flex;
    color: #fff;
    margin-bottom: 30px;
    font-size: 32px;
    margin-top: 30px;
    justify-content: center;

}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 10px 0;
    font-size: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    height: 40px;
}

.navbar a:hover {
    font-weight: bold;
    background-color: #fff;
    color: #007BFF;
}

#logout {
    background-color: #28A745; 
    border-radius: 5px;
    margin-top: auto;
    height:40px;
    margin-top: 60vh;
}

#logout:hover {
    background-color: #218838;
    color: #fff;
}

#Page-Title {
    font-size: 32px;
    color: #007BFF;
    margin-bottom: 30px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .container {
        margin-left: 0;
        padding: 10px;
    }

    .navbar {
        height: 8vh;
        padding: 7px;
        flex-direction: row;
        width: -webkit-fill-available;
        border-radius: 0;
    }

    .navbar h2 {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        font-size: 16px;
    }

    .navbar a {
        margin: 10px;
        font-size: 10px;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        height: 40px;

    }
    #logout{
        margin: 10px 20px 0 0;
    }

}