
.container {
    position: relative;
    top: 20vh;
    width: 600px;
    margin: auto;
    padding: 60px;
    background-color: #fff; 
    border-radius: 10px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.title {
    color: #007BFF;
    margin-bottom: 20px;
}

.form-group{
    display: flex;
    flex-direction: column;
}

.form-group p {
    margin-bottom: 15px;
    font-weight: bold;
}

.btn-primary {
    height: 40px;
    font-size: 18px;
    margin-right: 40px;
}