{% extends 'base.html' %}
{% load static %}

{% block extra-css %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock extra-css %}

{% block title %}Account{% endblock title %}

{% block content %}
<section class="container">
    <!-- Navbar -->
    <nav class="navbar">
        <h2>PennyPilot</h2>
        <a href="{% url 'dashboard' %}">Dashboard</a>
        <a href="{% url 'expense_view' %}">Expense</a>
        <a href="{% url 'account' %}">Account</a>
        <a id="logout" href="{% url 'account_logout' %}">Logout</a>
    </nav>
    
    <!-- Content Area -->
    <article class="article">
        <div id="Page-Title">Account</div>
        <div class="account-template">
            <div class="profile-img">
            <img src="{% static 'images/default-profile.png' %}" alt="Profile Image">
            <button type="submit">Upload new Photo</button>
            </div>
            
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
            
                <h4>Username
                    <input type="text" name="username" value="{{ user.username }}" placeholder="Username" required> 
                </h4>
            
                <h4>Email
                    <input type="email" name="email" value="{{ user.email }}" placeholder="Email" required>
                </h4>
            
                <h4>Account ID
                    <input type="text" value="{{ user.id }}" placeholder="Account ID" readonly>
                </h4>
            
                <div class="buttons">
                    <button class="Update-password">Update Password</button>
                    <button type="submit">Save Changes</button>
                </div>
            </form>
        </div>
    </article>
</section>
{% endblock content %}
