{% extends 'base.html' %}
{% load static %}

{% block extra-css %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

{% endblock extra-css %}

{% block title %}
Dashboard
{% endblock title %}

{% block content %}
<section class="container">
    <!-- Navbar -->
    <nav class="navbar">
        <h2>PennyPilot</h2>
        <a href="{% url 'dashboard' %}">Dashboard</a>
        <a href="{% url 'expense_view' %}">Expense</a>
        <a href="{% url 'account' %}">Account</a>
        <a id="logout" href="{% url 'account_logout' %}">Logout</a>
    </nav>

    <!-- Content Area -->
    <article class="article">
        <div id="Page-Title">Dashboard</div>
        <!-- Charts -->
        <section class="graphs">
            <div class="pie-chart">
                <h2>Monthly Expenses</h2>
                <!-- Chart Section -->
    <div>
        <canvas id="expenseChart"></canvas>
    </div>
            </div>
        </section>

        <!-- Buttons -->
        <section class="option-buttons">
            <section class="expense-options">
                <button class="add-expense-btn"><a href="{% url 'add_expense' %}">Add New Expense</a></button>
            </section>
        </section>

        <!-- Recent Expense Report -->
        <section class="expense-table">
            <h2>Recent Expenses</h2>
            <!-- Display table of recent expenses here -->
        </section>
    </article>
</section>
{% endblock content %}
{% block extra-js %}
{% endblock %}
