{% extends 'base.html' %}
{% load static %}

{% block extra-css %}
<link rel="stylesheet" href="{% static 'css/addExpnese.css' %}">
{% endblock extra-css %}

{% block title %}Add Expense{% endblock title %}

{% block content %}
<div class="expense-page-container">
    <div class="expense-wrapper">
        <!-- Sidebar Navbar -->
        <nav class="navbar">
            <h2>PennyPilot</h2>
            <a href="{% url 'dashboard' %}">Dashboard</a>
            <a href="{% url 'expense_view' %}">Expense</a>
            <a href="{% url 'account' %}">Account</a>
            <a id="logout" href="{% url 'account_logout' %}">Logout</a>
        </nav>
        
        <!-- Content Area -->
        <div class="content-container">
            <article class="article">
                <div class="container">
                    <h2>Edit Expense</h2>
                    <!-- Form to edit the expense -->
                    <form method="POST"
                    class="form-group">
                        {% csrf_token %}
                        {{ form.as_p }} 
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                        <a href="{% url 'expense_view' %}" class="btn btn-secondary">Cancel</a>
                    </form>
                </div>
            </article>
        </div>
    </div>
</div>
{% endblock content %}
