{% extends 'base.html' %}
{% load static %}

{% block extra-css %}
<link rel="stylesheet" href="{% static 'css/expense.css' %}">
{% endblock extra-css %}

{% block title %}Expenses{% endblock title %}

{% block content %}
<section class="container">
    <!-- Navbar -->
    <nav class="navbar">
        <h2>PennyPilot</h2>
        <a href="{% url 'dashboard' %}">Dashboard</a>
        <a href="{% url 'expense_view' %}">Expense</a>
        <a href="{% url 'account' %}">Account</a>
        <a id="logout" href="{% url 'account_logout' %}">Logout</a>
    </nav>
    
    <!-- Content Area -->
    <article class="article">
        <div id="Page-Title">Expense List</div>
        
        <!-- Add New Expense Button -->
        <section class="expense-options">
            <button><a href="{% url 'add_expense' %}" class="add-expense-btn">Add New Expense</a></button>
        </section>
        <!-- Expense Table -->
        <section class="expense-table">
            <table id="expense-table">
                <thead>
                    <tr>
                        <th>Amount (£)</th>
                        <th>Date</th>
                        <th>Notes</th>
                        <th>Category</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for expense in expenses %}
                    <tr>
                        <td>{{ expense.amount }}</td>
                        <td>{{ expense.date }}</td>
                        <td>{{ expense.notes }}</td>
                        <td>{{ expense.category }}</td>
                        <td>
                            <a href="{% url 'edit_expense' expense.id %}" class="edit-btn"> Edit</a>
                            <a href="{% url 'delete_expense' expense.id %}" class="delete-btn">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </article>
</section>
{% endblock content %}
