{% extends 'base.html' %}
{% load static %}

{% block extra-css %}
<link rel="stylesheet" href="{% static 'css/expense.css' %}">
{% endblock extra-css %}

{% block title %}Expense{% endblock title %}

{% block content %}
<div class="expense-page-container">
    <div class="expense-wrapper">
        <!-- Sidebar Navbar -->
        <nav class="sidebar-navbar">
            <h2 class="logo">PennyPilot</h2>
            <ul>
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'expense' %}" class="active">Expense</a></li>
                <li><a href="{% url 'account' %}">Account</a></li>
                <li><a id="logout" href="{% url 'account_logout' %}">Logout</a></li>
            </ul>
        </nav>
        
        <!-- Content Area -->
        <div class="content-container">
            <article class="article">
                <h1>Expense Table</h1>
                <!-- Buttons for actions -->
                <section class="option-buttons">
                    <a href="{% url 'add_expense_page' %}" class="add-expense-btn">Add Expense</a>
                    <button class="generate-report-btn">Generate Report</button>
                    <button class="search-btn">Search</button>
                </section>
                
                <!-- Expense Table -->
                <section class="expense-table">
                    <h2>Recent Expenses</h2>
                    <table id="expense-table">
                        <thead>
                            <tr>
                                <th>Category</th>
                                <th>Amount</th>
                                <th>Date</th>
                                <th>Notes</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for expense in expenses %}
                            <tr>
                                <td>{{ expense.category.name }}</td>
                                <td>{{ expense.amount }}</td>
                                <td>{{ expense.date }}</td>
                                <td>{{ expense.notes }}</td>
                                <td>
                                    <a href="{% url 'edit_expense_page' expense.id %}" class="edit-btn">Edit</a>
                                    <a href="{% url 'delete_expense' expense.id %}" class="delete-btn">Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </section>
            </article>
        </div>
    </div>
</div>
{% endblock content %}
