<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/main.css'%}">
    <title>Document</title>
</head>
<body>
    {%block content%}
    {%endblock%}
    {% url 'dashboard' as dashboard_url %}
    <!-- url for allauth -->
    {% url 'account_login' as login_url %} 
    {% url 'account_signup' as signup_url %}
    {% url 'account_logout' as logout_url %}

<!-- URL for allAuth -->
    {% if user.is_authenticated %}
<li class="nav-item">
	<a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page" href="{% url 'account_logout' %}">Logout</a>
</li>
{% else %}
<li class="nav-item">
	<a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
		href="{% url 'account_signup' %}">Register</a>
</li>
<li class="nav-item">
	<a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page" href="{% url 'account_login' %}">Login</a>
</li>
{% endif %}

</body>
</html>